@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Inknut Antiqua', serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: rgb(46, 46, 46);
  font-family: var(--main-font);
}

#page-wrapper {
  background-image: url('../undraw_coffee_re_x35h.svg');
  background-repeat: no-repeat;
  background-position-x: -15em;
  background-position-y: 23em;
  background-clip: border-box;
  background-color: rgb(46, 46, 46, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  z-index: -2;
}

#header-container {
  margin-top: 15vh;
  background-color: rgb(46, 46, 46, 65%);
  border-radius: 2em;
}

#poll-links-container {
  height: 25vh;
  display: grid;
  grid-template-areas:
  "daily random"
  "past past";
  gap: 3em;
  background-color: rgb(46, 46, 46, 65%);
  align-items: center;
  padding: 2em;
  border-radius: 2em;
}

#daily-poll-link {
  text-align: center;
  grid-area: daily;
}

#random-poll-link {
  text-align: center;
  grid-area: random;
}

#past-results-link {
  text-align: center;
  grid-area: past;

}
