*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Arial', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(46, 45, 45);
}

#page-wrapper {
  border: 2px solid white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#header-container {
  border: 2px solid orange;
  margin-top: 15vh;
}

#poll-links-container {
  border: 2px solid salmon;
  height: 30vh;
  margin-top: 25vh;
  display: grid;
  grid-template-areas:
  "daily random"
  "past past";
  gap: 2em;
}

#daily-poll-link {
  text-align: center;
  grid-area: daily;
}

#random-poll-link {
  text-align: center;
  grid-area: random;
}

#past-results-link {
  text-align: center;
  grid-area: past;
  border: 2px solid yellow;

}

